<div class="wrapper">
	<div class="box">
		<div class="row row-offcanvas row-offcanvas-left">
			<!-- main right col -->
			<div class="column col-sm-12 col-xs-11" id="main">
				<div class="padding">
					<div class="full col-sm-9">
						<!-- content -->
						<div class="row">
							<!-- main col left -->
							<div class="col-sm-5">
								
								<div class="panel panel-default">
									<div class="panel-body">
										<p>
										  <%= image_tag(current_user.avatar.url(:thumb)) %>
										</p>
										<h4>Full Name: <%= full_name %></h4>
										<h5>Username: <%= @user.username %></5>
										<hr>
										<div class="about">
										    <h5>About Me:</h5>
											<p><%= @user.about %></p>
										</div>
										<p>45 Followers, <span><%= pluralize(current_user.posts.count, "Post") %></span></p>
									</div>
								</div>
								
								<div class="well">
									<%= simple_form_for @user_post, html: { multipart: true } do |f| %>
									<%= f.error_notification %>
									<form class="form-horizontal" role="form">
										<div class="form-group" style="padding:14px;">
											<%= f.text_area :content, placeholder: "What's New.......", class: "form-control" %>
											<%= f.file_field :image %>
										</div>
										<%= f.button :submit, class: 'btn btn-primary pull-right' %>
										
									</form>
								</div>
								<% end %>
							</div>
							
							<!-- main col right -->
							<div class="col-sm-7">
								<% @posts.each do |post| %>
								<div class="panel panel-default">
									<div class="panel-heading"><h6>Posted by <%= @user.username %> | <%=post.created_at%></h6></div>
									<div class="panel-body">
										<p><%= raw post.content %></p>
										<%= image_tag post.image.url(:medium), class: "image-post" %>
									</div>
									<%if post.user_id == current_user.id%>
									<%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, post, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }  %>
									<% end %>
								</div>
								<% end %>
							</div>
							
							<div class="row" id="footer">
								<div class="col-sm-6">
									
								</div>
								<div class="col-sm-6">
									<p>
										<a href="#" class="pull-right">©Proxima 2017</a>
									</p>
								</div>
							</div>
							<hr>
						</div>
						<!-- /main -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>