<div class="wrapper">
  <div class="box">
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="column col-sm-12 col-xs-11" id="main">
        <div class="navbar navbar-blue navbar-static-top">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand logo">GEEK HOUSE</a>
          </div>
          <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="round-image-50 dropdown"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
              <% end %>
              <li>
                <a href="/"><i class="glyphicon glyphicon-home"></i></a>
              </li>
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle " data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i></a>
                <ul class="dropdown-menu">
                  <% if user_signed_in? %>
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Users", users_path %></li>
                  <li><%= link_to "Settings", edit_user_registration_path %></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "links" %></li>
                  <% else %>
                  <li><%= link_to "SignIn", new_user_session_path, class: "links" %></li>
                  <li><%= link_to "SignUp", new_user_registration_path, class: "links"%></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>